---
import '../styles/global.css'
import Navbar from '../components/Navbar.astro'
import FloatingButtons from '../components/FloatingButtons.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <title>UV CHILE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-50 font-sans">
    <Navbar />
    <slot />
    <FloatingButtons />
  </body>
  <script is:inline>
    const elements = document.querySelectorAll('.reveal')

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('active')
          }
        })
      },
      {
        threshold: 0.2
      }
    )

    elements.forEach((el) => observer.observe(el))
  </script>
</html>
